.card {
    box-shadow: 0 4px 8px 0 black;
    width: 30%;
    margin-left: 30%;
}
.container {
    padding: 2px 16px;
   
}
.container2 {
    display: flex;
    border: inset 1px gray;
    justify-content: space-between;
   padding-left: 10px;
   padding-right: 10px;
}

